@import "tailwindcss";

@theme {
  --color-background: #1a120b;
  --color-primary: #d5cea3;
  --color-secondary: #e5e5cb;
  --color-tertiary: #3c2a21;

  --font-inknut: "Inknut Antiqua", serif;
  --font-joti: "Joti One", serif;
}
/* Remove scrollbar for Chrome, Safari, and Opera */
*::-webkit-scrollbar {
  display: none;
}

/* Remove scrollbar for Firefox */
html {
  scrollbar-width: none;
}

/* Remove scrollbar for Internet Explorer and Edge */
body {
  -ms-overflow-style: none;
}

/* Ensure the body and html can scroll */
html,
body {
  height: 100%;
  overflow: auto;
  margin: 0;
  padding: 0;
}

/* Add a default scroll behavior */
body {
  scroll-behavior: smooth;
  background-color: #1a120b;
}

/* Ensure the main container takes full height */
#__next {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

/* Remove arrows in Chrome, Safari, Edge, and Opera */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Remove arrows in Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
